# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp/
.pnp.js

# Testing
coverage/

# Production build
build/
dist/
out/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug logs
logs
*.log

# Cache
.cache/
.eslintcache
.npm
.temp/
